* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.thumbnail {
  margin-top: 10px;
}

.product-page__specification p:last-child {
  margin-top: 20px;
}

.site-header, .wrapper, .product-page__specification p {
  margin-bottom: 10px;
}

.product-page__heading, .product-page__description {
  margin-bottom: 20px;
}

.wrapper, .feature {
  margin-left: auto;
  margin-right: auto;
}

b, .product-page__title, .product-page__heading {
  font-weight: 600;
}

p {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.7px;
}

.site-header {
  background: #33363b;
  text-align: center;
}

.site-header__title {
  font-family: 'Play', sans-serif;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  padding-bottom: 3px;
}

@media (min-width: 1200px) {
  .site-header__title {
    font-size: 2.1875rem;
  }
}

.wrapper {
  max-width: 1024px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
}

.product-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .product-photo {
    width: 43%;
  }
}

.product-photo img {
  display: block;
  width: 100%;
}

.photo-big {
  padding: 6px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.thumbnail {
  display: none;
}

@media (min-width: 768px) {
  .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.thumbnail__item {
  width: 80px;
  padding: 3px;
  border: 1px solid #dee2e6;
  margin: 4px;
  cursor: pointer;
}

.article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  padding: 10px 0 0;
}

@media (min-width: 576px) {
  .article {
    width: 57%;
    padding: 0 0 0 10px;
  }
}

.product-page {
  background: #fff;
  border-radius: 5px 5px 0 0;
  border: 1px solid #dadada;
  border-bottom: none;
  padding: 10px 15px;
}

.product-page__title {
  font-size: 18px;
  line-height: 1.428;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #252525;
}

.product-page__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 30px;
}

.product-page__price .regular {
  font-weight: 300;
  font-size: 12px;
  text-decoration: line-through;
}

.product-page__price .sale {
  font-weight: 400;
  font-size: 18px;
  margin: 0 10px;
}

.product-page__price .discount {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px;
  color: white;
  background-color: #fa591d;
  padding: 3px;
}

.product-page__heading {
  position: relative;
  font-size: 17px;
}

.product-page__heading span {
  position: relative;
  padding-right: 7px;
  background-color: #fff;
  z-index: 1;
}

.product-page__heading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.product-page__specification p:last-child {
  margin-bottom: 0px;
}

.product-page__cta {
  font-family: inherit;
  margin-top: 30px;
  width: 100%;
  border-radius: 3px;
  background-color: #fa591d;
  border: none;
  outline: none;
  color: white;
  padding: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

.share {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #dadada;
  border-top: none;
  padding-top: 20px;
}

.share__heading {
  text-align: center;
  color: #212529;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.share__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.share__box span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.share__box span:last-child {
  border-right: none;
}

.share__box span:hover {
  background-color: #dadada;
}

.feature {
  max-width: 1024px;
  width: 95%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid #dadada;
  padding: 20px 15px;
}

.feature-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.feature-item:last-child {
  margin-bottom: 0;
}

.feature-item h3 {
  color: #212529;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.7px;
  margin: 20px 0;
}
/*# sourceMappingURL=main.css.map */